<html>
  <head>
    <title>Register - Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
  
    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="stylesheet" type="text/css" href="/styles/employeeDetail.css">
  
    <script type="text/javascript" src="/scripts/master.js" defer></script>
    <script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
  </head>
<script>
</script>
<body>
  <div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<form>
    <div class="hidden">
      <label>ID:</label>
      <input type="text" id="employeeid" name="eid"  value="<% if (locals.employee && locals.employee.id) { %><%= locals.employee.id %><% } %>" /><br><br>
    </div>
    <div class="hidden">
      <label>Manager Id:</label>
      <input id="employeemanagerId" type="hidden" value="<% if (locals.employee && locals.employee.managerId) { %><%= locals.employee.managerId %><% } %>" />
    </div>
      <label for="fname">First name:</label>
      <input type="text" id="firstname" name="fname">
      <label for="lname">Last name:</label>
      <input type="text" id="lastname" name="lname"> <br /> <br />
      <label for="pass">Password:</label>
      <input type="text" id="password" name="pass">
      <label for="cpass">Confirm Password:</label>
      <input type="text" id="confirmpassword" name="cpass"> <br />
    </form>

    <select id="employeetype" name="cars">
      <option value="101">Cashier</option>
      <option value="501">Shift Manager</option>
      <option value="701">General Manager</option>
    </select>
	</div>


  <div class="employeeActionsWrapper <% if (locals.errorMessage && (locals.errorMessage !== "")) { %>hidden<% } %>">
    <br />
    <button id="saveButton" type="button" class="action">Save</button>
  </div>
  <div class="footer">
    <img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer"/>
  </div>

</body>
</html>