<html>
    <head>
        <title>Register - Sign In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
        <link rel="stylesheet" type="text/css" href="/styles/master.css">
    
        <script type="text/javascript" src="/scripts/master.js" defer></script>
        <script type="text/javascript" src="/scripts/signIn.js" defer></script>
    </head>

    <body>

        <div class="header">
            <h1 class="primary-message">Sign In</h1>
        </div>

        <div id="main" class="main">
            
            <div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
                <h4 id="errorMessage" class="error-message">
                    <% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
                        <%= locals.errorMessage %>
                    <% } %>
                </h4>
            </div>
            
            <form name="signInForm" action="/" method="POST" onsubmit="return validateForm();" class="inputContent" style="align-content: center;">
                <label>Employee ID:  </label>
                <input id="enterID" type="number"/> <br /> <br />
                <label>Password:  </label>
                <input id="enterPassword" type="password"/> <br /> <br />
                <input type="submit" value="Sign In"/>
            </form>

        </div>

    </body>
</html>